@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to bottom, rgb(252, 212, 138), rgb(184, 89, 0));
}

header {
    background-repeat: no-repeat;
    background-color: black;
    height: 170px;
    padding: 20px;
    border: 2px solid orange;
}

header img {
    display: block;
    margin: auto;
    padding-bottom: 10px;
    height: 100px;
}

div#seachbar {
    text-align: center;
    
    
}

#seachbar #barradepesquisa {
    height: 4.5vh;
    width: 40vw;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: 1px solid white;
}

#seachbar #submit {
    height: 5vh;
    padding: 5px;
    border-radius: 5px;
    background-color: darkorange;
    color: white;
}

header a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
    margin-right: 10px;
}

header > nav > a:hover {
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(255, 145, 0);
    padding: 5px;
    border: 1px solid white;
}

main {
    background-color: rgb(24, 24, 24);
    padding: 20px;
    width: 83vw;
    margin: auto;
    border: 2px solid orange;
    border-radius: 0px 0px 10px 10px;
}

div.produtos {
    display: inline-block;
    background-color: white;
    text-align: center;
    border: 2px solid orange;
    border-radius: 13px;
    height: 250px;
    width: 200px; 
    margin-top: 20px;
    
}

div.produtos > img {
    height: 200px;
    border-radius: 10px;
    
}

div.produtos > p:hover {
    padding: 12px;
    text-decoration: underline;
}

.produtos > p {
    background-color: orange;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid white;
    padding: 10px;
}

img {
    height: 250px;
    width: 200px;
    border-radius: 10px;
}




